/build
/bin

# LaTeX outputs
*.log
*.aux
*.bbl
*.blg
*.pdf
*.synctex.gz

# Allow PDF images in docs
!/docs/*/images/*.pdf

# Horrible OSX stuff
.DS_Store
*(busy)

PrototypeAdminCentre/.idea/.name

PrototypeAdminCentre/.idea/compiler.xml

PrototypeAdminCentre/.idea/copyright/profiles_settings.xml

PrototypeAdminCentre/.idea/encodings.xml

PrototypeAdminCentre/.idea/misc.xml

PrototypeAdminCentre/.idea/modules.xml

PrototypeAdminCentre/.idea/scopes/scope_settings.xml

PrototypeAdminCentre/.idea/uiDesigner.xml

PrototypeAdminCentre/.idea/vcs.xml

PrototypeAdminCentre/.idea/workspace.xml

PrototypeAdminCentre/modern-business/modern-business.iml
/PrototypeAdminCentre/modern-business/nbproject/private/
PrototypeAdminCentre/web/.idea/.name

PrototypeAdminCentre/web/.idea/compiler.xml

PrototypeAdminCentre/web/.idea/encodings.xml

PrototypeAdminCentre/web/.idea/modules.xml

PrototypeAdminCentre/web/.idea/scopes/scope_settings.xml

PrototypeAdminCentre/web/.idea/uiDesigner.xml

PrototypeAdminCentre/web/.idea/workspace.xml

PrototypeAdminCentre/web/web.iml

PrototypeAdminCentre/web/.idea/vcs.xml

PrototypeAdminCentre/web/.idea/misc.xml

PrototypeAdminCentre/web/.idea/copyright/profiles_settings.xml
