{
    "Systems": [
        {
            "SystemID": "2",
            "Sensors": [
                {
                    "SensorID": "EQ"
                }
            ],
            "Engines": [
                "EarthquakeAnalysisEngine",
                "TwitterNotificationEngine"
            ]
        },
        {
            "SystemID": "1",
            "Sensors": [
                {
                    "SensorID": "CPU",
                    "Params": {
                        "LOWER_BOUND": "10",
                        "UPPER_BOUND": "70"
                    }
                },
                {
                    "SensorID": "Mem",
                    "Params": {
                        "LOWER_BOUND": "50",
                        "UPPER_BOUND": "1000"
                    }
                }
            ],
            "Engines": [
                "MeanAnalysisEngine",
                "EmailNotificationEngine"
            ]
        }
    ]
}