{
    "Systems": [
        {
            "SystemID": "2",
            "Sensors": [
                {
                    "SensorID": "EQ",
                    "Params": {
                        "LOWER_BOUND": "1.0"
                    }
                }
            ],
            "Engines": [
                "EarthquakeAnalysisEngine",
                "TwitterNotificationEngine"
            ],
            "DatastoreGateway": "GWTSystemDataGateway",
            "Reporting": "Map"
        },
        {
            "SystemID": "1",
            "Sensors": [
                {
                    "SensorID": "CPU",
                    "Params": {
                        "LOWER_BOUND": "10",
                        "UPPER_BOUND": "70",
                        "NUM_RECORDS": "10"
                    }
                },
                {
                    "SensorID": "Mem",
                    "Params": {
                        "LOWER_BOUND": "50",
                        "UPPER_BOUND": "1000",
                        "NUM_RECORDS": "10"
                    }
                }
            ],
            "Engines": [
                "BoundedAnalysisEngine",
                "EmailNotificationEngine"
            ],
            "DatastoreGateway": "GWTSystemDataGateway",
            "Reporting": "Graph"
        },
        {
            "SystemID": "CarSystem",
            "Sensors": [
                {
                    "SensorID": "OIL",
                    "Params": {
                        "LOWER_BOUND": "30",
                        "UPPER_BOUND": "70",
                        "NUM_RECORDS": "1"
                    }
                },
                {
                    "SensorID": "TEMP",
                    "Params": {
                        "LOWER_BOUND": "40",
                        "UPPER_BOUND": "100",
                        "NUM_RECORDS": "1"
                    }
                },
                {
                    "SensorID": "REVS",
                    "Params": {
                        "LOWER_BOUND": "800",
                        "UPPER_BOUND": "6000",
                        "NUM_RECORDS": "1"
                    }
                }
            ],
            "Engines": [
                "BoundedAnalysisEngine",
                "EmailNotificationEngine"
            ],
            "Params": {
                "EXPRESSION": "OIL > 70 and TEMP > 100"
            },
            "DatastoreGateway": "GWTSystemDataGateway"
        },
         {
            "SystemID": "PhoneSystem",
            "Sensors": [
                {
                    "SensorID": "BAT"
                },
                {
                    "SensorID": "DES"
                },
                {
                    "SensorID": "WIFI"
                },
                 {
                    "SensorID": "GPS"
                },
                {
                    "SensorID": "THREE"
                },
                {
                    "SensorID": "BLUE"
                }
            ],
            "Engines": [
                "ExpressionAnalysisEngine",
                "PhoneAppNotificationEngine"
            ],
            "Params": {
                "EXPRESSION": "(BAT / (WIFI + GPS+ THREE + BLUE + 1)) < DES",
                "PHONE_IP": "192.168.44.1"
            },
            "DatastoreGateway": "GWTSystemDataGateway"
        },
         {
            "SystemID": "HTTPResponseTime",
            "Sensors": [
                {
                    "SensorID": "ResponseTime"
                }
            ],
            "Engines": [
                "ExpressionAnalysisEngine",
                "EmailNotificationEngine"
            ],
            "Params": {
                "EXPRESSION": "ResponseTime > 5000"
            },
            "DatastoreGateway": "GWTSystemDataGateway"
        },
        {
            "SystemID": "testapp2",
            "Sensors": [
                {
                    "SensorID": "CPU"
                },
                {
                    "SensorID": "Mem"
                },
                {
                	"SensorID": "WorkingDir"
                },
                {
                	"SensorID": "State"
                }
            ],
            "Engines": [
                "ExpressionAnalysisEngine",
                "EmailNotificationEngine"
            ],
            "Params": {
                "EXPRESSION": "CPU > 95"
            },
            "DatastoreGateway": "GWTSystemDataGateway",
            "Reporting": "Graph"
        },
        {
            "SystemID": "FaceSystem",
            "Sensors": [
                {
                    "SensorID": "Face"
                }
            ],
            "Engines": [
                "FaceAnalysisEngine"
            ],
            "Params": {
                "EXAMPLE_FACES": "0.0,1.1,0.0",
                "FACE_SIMILARITY_THRESHOLD": "0.1"
            },
            "DatastoreGateway": "GWTSystemDataGateway"
        }
    ]
}
