{
    "Systems": [
        {
            "SystemID": "2",
            "Sensors": [
                {
                    "SensorID": "EQ"
                }
            ],
            "Engines": [
                "EarthquakeAnalysisEngine",
                "TwitterNotificationEngine"
            ]
        },
        {
            "SystemID": "1",
            "Sensors": [
                {
                    "SensorID": "CPU",
                    "Params": {
                        "LOWER_BOUND": "10",
                        "UPPER_BOUND": "70"
                    }
                },
                {
                    "SensorID": "Mem",
                    "Params": {
                        "LOWER_BOUND": "50",
                        "UPPER_BOUND": "1000"
                    }
                }
            ],
            "Engines": [
                "MeanAnalysisEngine",
                "EmailNotificationEngine"
            ]
        },
        {
            "SystemID": "CarSystem",
            "Sensors": [
                {
                    "SensorID": "OIL",
                    "Params": {
                        "LOWER_BOUND": "30",
                        "UPPER_BOUND": "70"
                    }
                },
                {
                    "SensorID": "TEMP",
                    "Params": {
                        "LOWER_BOUND": "40",
                        "UPPER_BOUND": "100"
                    }
                },
                {
                    "SensorID": "REVS",
                    "Params": {
                        "LOWER_BOUND": "800",
                        "UPPER_BOUND": "6000"
                    }
                }
            ],
            "Engines": [
                "MeanAnalysisEngine",
                "EmailNotificationEngine"
            ]
        }
    ]
}