{
    "Systems": [
        {
            "SystemID": "EarthquakeMonitor",
            "Sensors": [
                {
                    "SensorID": "EQ",
                    "Params": {
                        "LOWER_BOUND": "1.0"
                    }
                }
            ],
            "Engines": [
                "EarthquakeAnalysisEngine",
                "TwitterNotificationEngine"
            ],
            "DatastoreGateway": "GWTSystemDataGateway",
            "Reporting": "Map"
        },
        {
            "SystemID": "TestAppOneMonitor",
            "Sensors": [
                {
                    "SensorID": "CPU",
                    "Params": {
                        "LOWER_BOUND": "10",
                        "UPPER_BOUND": "70",
                        "NUM_RECORDS": "10"
                    }
                },
                {
                    "SensorID": "Mem",
                    "Params": {
                        "LOWER_BOUND": "50",
                        "UPPER_BOUND": "1000",
                        "NUM_RECORDS": "10"
                    }
                }
            ],
            "Engines": [
                "BoundedAnalysisEngine",
                "EmailNotificationEngine"
            ],
            "Params": {
                "RECIPIENT": "gpigc.alerts@gmail.com"
            },
            "DatastoreGateway": "GWTSystemDataGateway",
            "Reporting": "Graph"
        },
        {
            "SystemID": "CarSystem",
            "Sensors": [
                {
                    "SensorID": "OIL",
                    "Params": {
                        "LOWER_BOUND": "30",
                        "UPPER_BOUND": "70",
                        "NUM_RECORDS": "1"
                    }
                },
                {
                    "SensorID": "TEMP",
                    "Params": {
                        "LOWER_BOUND": "40",
                        "UPPER_BOUND": "100",
                        "NUM_RECORDS": "1"
                    }
                },
                {
                    "SensorID": "REVS",
                    "Params": {
                        "LOWER_BOUND": "800",
                        "UPPER_BOUND": "6000",
                        "NUM_RECORDS": "1"
                    }
                }
            ],
            "Engines": [
                "BoundedAnalysisEngine",
                "EmailNotificationEngine"
            ],
            "Params": {
                "EXPRESSION": "OIL > 70 and TEMP > 100",
                "RECIPIENT": "gpigc.alerts@gmail.com"
            },
            "DatastoreGateway": "GWTSystemDataGateway"
        },
        {
            "SystemID": "PhoneSystem",
            "Sensors": [
                {
                    "SensorID": "BAT"
                },
                {
                    "SensorID": "DES"
                },
                {
                    "SensorID": "WIFI"
                },
                {
                    "SensorID": "GPS"
                },
                {
                    "SensorID": "THREE"
                },
                {
                    "SensorID": "BLUE"
                }
            ],
            "Engines": [
                "ExpressionAnalysisEngine",
                "PhoneAppNotificationEngine"
            ],
            "Params": {
                "EXPRESSION": "(BAT / (WIFI + GPS+ THREE + BLUE + 1)) < DES",
                "PHONE_IP": "192.168.44.1"
            },
            "DatastoreGateway": "GWTSystemDataGateway"
        },
        {
            "SystemID": "HTTPResponseTime",
            "Sensors": [
                {
                    "SensorID": "ResponseTime"
                }
            ],
            "Engines": [
                "ExpressionAnalysisEngine",
                "EmailNotificationEngine"
            ],
            "Params": {
                "EXPRESSION": "ResponseTime > 5000",
                "RECIPIENT": "gpigc.alerts@gmail.com"
            },
            "DatastoreGateway": "H2SystemDataGateway"
        },
        {
            "SystemID": "testapp2",
            "Sensors": [
                {
                    "SensorID": "CPU"
                },
                {
                    "SensorID": "Mem"
                },
                {
                    "SensorID": "WorkingDir"
                },
                {
                    "SensorID": "State"
                }
            ],
            "Engines": [
                "ExpressionAnalysisEngine",
                "EmailNotificationEngine"
            ],
            "Params": {
                "EXPRESSION": "CPU > 95",
                "RECIPIENT": "gpigc.alerts@gmail.com"
            },
            "DatastoreGateway": "H2SystemDataGateway",
            "Reporting": "Graph"
        },
        {
            "SystemID": "FaceSystem",
            "Sensors": [
                {
                    "SensorID": "Face"
                }
            ],
            "Engines": [
                "FaceAnalysisEngine",
                "EmailNotificationEngine"
            ],
            "Params": {
            	"EXAMPLE_FACES": "rosy-example-faces.csv",
                "FACE_SIMILARITY_THRESHOLD": "100"
            },
            "DatastoreGateway": "H2SystemDataGateway"
        },
        {
            "SystemID": "TrafficSystem",
            "Sensors": [
                {
                    "SensorID": "Incident"
                }
            ],
            "Params": {
                "RECIPIENT": "07966080590"
            },
            "Engines": [
                "TrafficAnalysisEngine",
                "SMSNotificationEngine"
            ],
            "DatastoreGateway": "GWTSystemDataGateway",
            "Reporting": "Map"
        }
    ]
}
