{
    "Systems": [
        {
            "SystemID": "2",
            "Sensors": [
                {
                    "SensorID": "EQ",
                    "Params": {
                        "LOWER_BOUND": "10",
                        "UPPER_BOUND": "80"
                    }
                }
            ],
            "Engines": [
                "EarthquakeAnalysisEngine",
                "TwitterNotificationEngine"
            ],
            "DatastoreGateway": "GWTSystemDataGateway"
        }
    ]
}